
header {
    width: 100%;
    display: table;
    background-color: #212625;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
    
}

.outer {
    display: flex;
    align-items: center;
    
}

.headerLogo {
    margin-left: 5%;
    margin: 1%;
    display: flex;
    justify-content: left;
    float: left;
    width: 19%; /* Adjusted to make the logo smaller */
    max-width: 200px; /* You can set a max-width if necessary */


}

.headerLogo img {
    max-width: 100%;
    height: auto;

}


.headerText {
    position: absolute;
    left: 50%;    
    transform: translateX(-50%);
    color: #ccc;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1;
}

.headerText p span {
    font-size: 28px;
    font-weight: bold;
    
}
