
header {
    width: 100%;
    display: table;
    background-image: url('../images/background.png');
    background-size: auto;
    background-repeat: repeat;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
}

.outer {
    display: flex;
    align-items: center;
    
}

.headerLogo {
    margin-left: 5%;
    margin: 1%;
    display: flex;
    justify-content: left;
    float: left;
    width: 19%; 
    max-width: 200px; 


}

.headerLogo img {
    max-width: 100%;
    height: auto;

}


.headerText {
    position: absolute;
    left: 50%;    
    transform: translateX(-50%);
    color: #131212;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1;
}

.headerText p span {
    font-size: 28px;
    font-weight: bold;
    
}
