.nav {
  background-image: url('../images/background.png');
  background-size: auto;
  background-repeat: repeat;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  padding-top: 10px;
}

.nav-link {
  color: black;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.nav-link.active {
  background-color: gold;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 8px 40px;
  margin: 5px 40px;
  background-color: #212625;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}
.nav-item:hover {
  background-color: #212625;
}
.nav-item.current-page {
  background-color: gold;
}

.dropdown-menu {
  display: none; 
  position: absolute;
  left: 0;
  top: 100%; 
  text-align: left;
  z-index: 1; 
}

.nav-item:hover .dropdown-menu {
  display: block; 
}

.dropdown-link {
  font-weight: 700;
}

/* New style for admin-mode */
.admin-mode {
  background-color: yellow; /* Sets the background color to yellow for admin mode */
}
.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  transform: none;
}