:root {
  --miros-gold: #fb9902;
}

.nav {
  background-color: #000;
  border-bottom: 1px solid #ccc;
  padding: 0.5%;  
}

.nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-align: center;  
}

.nav-link.active {
  background-color: var(--miros-gold);
}

.nav-item {
  position: relative;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;  
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0.5%;  
}

.nav-item:hover {
  color: #000;
  background-color: var(--miros-gold);
}

.nav-item.current-page {
  background-color: var(--miros-gold);
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  text-align: left;
  z-index: 1;
}
.nav-item.dropdown>.nav-link,
.nav-item.dropdown.active>.nav-link {
  color: #fff;
}
.nav-item:hover .dropdown-menu {
    color: #fff;
  display: block;
}

.dropdown-link {
  font-weight: 700;
}

.nav-item.dropdown {
      color: #fff;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  transform: none;
}
