.nav {
  background-image: url('../images/background.png');
  background-size: auto;
  background-repeat: repeat;
  border-bottom: 1px solid #ccc;
  padding: 0.5%;  /* Reduced padding for a thinner navbar */
}

.nav-link {
  color: black;
  font-weight: 700;
  font-size: 15px;
  text-align: center;  /* Ensures text is centered */
}

.nav-link.active {
  background-color: gold;
}

.nav-item {
  position: relative;
  background-color: #dde6e4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;  /* Ensures text is centered */
  padding: 10px 15px;  /* Adjust padding to ensure labels are well-centered */
  margin: 0.5%;  /* Reduced margin */
}

.nav-item:hover {
  background-color: #ffffff;
}

.nav-item.current-page {
  background-color: gold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  text-align: left;
  z-index: 1;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-link {
  font-weight: 700;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  transform: none;
}
